# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Hugo Firth
	email = hugo.firth@gmail.com
[push]
	default = matching
[core]
	editor = emacsclient -t
